<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
</head>
<header>
    <H1> AirBC </H1>
    <a href="{{ path('home') }}">Home</a>&nbsp;
    <a href="{{ path('annonces') }}">Liste annonce</a>&nbsp;
    <a href="{{ path('contact') }}">Créer une annonce</a>&nbsp;
</header>

</html>